body {
    margin: 0;
}
.intro {
    background-color:blueviolet;
    font-family: Amaranth;
    color:midnightblue;
    font-size: 75%;
    text-align: center;
}
.left {
    position: absolute;
    left: 5px;
    top: 25px;
}
.right {
    position: absolute;
    right: 5px;
    top: 25px;
}
.pic {
    border: dashed 2px aquamarine;
}
.skills {
    padding: 10px;
    font-family: Roboto;
    color:forestgreen;
    font-size: 90%;
    
}
.langs {
    float: inline-start;
    column-count: 2;
    column-fill: auto;
}
.exp {
    float:inline-start;
    column-count: 3;
}
.skill {
    float:inline-start;
    column-count: 3;
    column-fill: balance;
}
a:link, a:visited {
    text-decoration: none;
    color:darkviolet;
}
a:active, a:hover {
    text-decoration: none;
    color:fuchsia;
}
.contact {
    padding: 20px;
    text-align: center;
    border: dashed 2px darkslateblue;
    margin: 20px;
    background-color: whitesmoke;
}
a.button:link, a.button:visited {
    text-decoration: none;
    color:darkviolet;
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
}
a.button:active, a.button:hover {
    text-decoration: none;
    background-color: darkmagenta;
    color:fuchsia;
}
hr {
    border: 2px 1px;
    border-color: blue;
}
.form {
    text-align: center;
    float:inline-start;
    columns: 2;
    column-fill: auto;
}
input.button {
    text-decoration: none;
    color:darkviolet;
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
}
input.button:hover {
    text-decoration: none;
    background-color: darkmagenta;
    color:fuchsia;
}